body {
  font-family: 'Montserrat', sans-serif;
  overflow-y: scroll;
  color: white;
  background-image: url('../public/assets/main-background.png');
  background-size: cover; /* Estirar la imagen para cubrir todo el fondo */
  background-repeat: no-repeat; /* Evitar la repetición de la imagen */
  background-attachment: fixed; /* Fijar el fondo para que no se desplace con el contenido */
  height: 100%;
  margin: 0; /* Eliminar el margen predeterminado del cuerpo */
}


.App {


 

 

/*  animation: fadeIn 0.5s ease-in-out; /* Animación de aparición */
}

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  justify-content: space-between; /* Alinea los elementos al principio y al final del espacio disponible */
  align-items: center; 
  text-align: center;
  color: #0bee97;
  padding-bottom: 5%;
  
}

h1 {
  font-size: 36px;
  flex: 1; /* Hace que el título ocupe el espacio restante */
  text-align: right; 
  margin: 0;
}


.name{

  font-size: 2.5rem;
 position: absolute;
 top: 5%;


}


main {
  padding: 0 3%;
  animation: fadeIn 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  gap: 20px;
  max-width: 70%; /* Ancho máximo del main */
  margin: 0 auto; /* Centra el main horizontalmente */
}



section {
  
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada */
  border-radius: 10px; /* Bordes redondeados */
  padding: 0 3% 0 3%;
  width: 60%;

  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out; /* Animaciones de cambio de fondo y tamaño */

}

.div-technologies{

  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */

}

.Elementostech{

  font-weight: bold;
  font-style: italic;
  margin: 0;
  font-size: 2rem;
  z-index: 2;
  position: absolute;
  top: 9%;
  right: 37%;



}

.onlycursive{
  font-style: italic;

}






h2 {
  font-size: 24px;
  color:  #0bee97; /* Color de títulos igual que el header */
  transition: color 0.3s ease-in-out; /* Animación de cambio de color */
}



section:hover {

  background-color: #0D0C1D;
  transform: scale(1.05);

}
ul {
  list-style-type: disc; /* Cambio del estilo de lista a puntos */
  padding-left: 20px;
  color: #e2dfeb; /* Fuente morado claro para la lista */
  animation: fadeIn 0.5s ease-in-out; /* Animación de aparición */
}

footer {
  text-align: center;
  color: #0bee97;
  animation: fadeIn 0.5s ease-in-out; /* Animación de aparición */
}

.size-gif{
  width : 30%;
  left: 5%;
  position: absolute;
}


.size-img1{

  width : 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease;
  padding-bottom: 5%;
  position:  relative;
  top: -25%;
}


.size-img2{

  width : 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease;
  padding-bottom: 5%;
  position:  relative;
  top: -20%;
}


.size-img3{

  width : 30%;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease;
  padding-bottom: 5%;
  position:  absolute;
  top: 5%;
  right: 15%;

}



.size-img:hover {

  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Añadir sombra en hover */
  border-radius: 50px; /* Cambiar el radio de borde en hover */
}

.social-links {
  display: flex;
  justify-content: space-evenly; /* Centra equitativamente sin aprovechar los extremos */
  margin-top: 2%;
  margin-bottom: 5%;
  margin-left: 45%;
  margin-right: 45%;

}

.socialmedia {
  width: 150%; /* Ajusta el ancho según sea necesario */
  transition: transform 0.3s ease-in-out;
}

.social-links a {
  display: inline-block;
  padding: 0 10px;
}

.social-links a:hover .socialmedia {
  transform: rotateY(180deg);
}


#developer-title {
  color: white;

}

.downloadcv {
  border: 2px solid #ffffff; /* Líneas de contorno blancas */
  border-radius: 20px; /* Borde redondeado */
  padding: 10px 20px; /* Espaciado interno */
  background-color: transparent; /* Sin color de fondo */
  color: #ffffff; /* Color del texto */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transiciones suaves */
  position: absolute;
  left: 25%;
  top: 12%;

}


.dowloadporftolio{

  border: 2px solid #ffffff; /* Líneas de contorno blancas */
  border-radius: 20px; /* Borde redondeado */
  padding: 10px 20px; /* Espaciado interno */
  background-color: transparent; /* Sin color de fondo */
  color: #ffffff; /* Color del texto */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transiciones suaves */
  margin-bottom: 5%;


}

.downloadcv:hover {
  background-color: #ffffff; /* Color de fondo al pasar por encima */
  color: #000000; /* Cambia el color del texto al pasar por encima */
  border: 2px solid transparent; /* Oculta las líneas de contorno al pasar por encima */
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0.5%;
  right: 20%;
  z-index: 1;
}

.menu ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.menu a:hover {
  transform: scale(1.05);
  color: #0bee97;
}


.technology-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas iguales */
  gap: 20px; /* Espacio entre elementos */
}

.technology-item {
  text-align: center; /* Centrar el contenido */
  background-color: #333; /* Fondo de los elementos */
  padding: 20px;
  border-radius: 8px;
  color: white;
}

.technology-item h3 {
  color: white;
  font-size: 18px; /* Tamaño de fuente más grande */
  margin: 0;
}

.technology-item img {
  width: 50px; /* Ajusta el tamaño del icono según tus necesidades */
  margin-right: 10px;
}

.technology-progress {
  width: 100%;
  background-color: #ccc;
  height: 10px; /* Altura de la barra de progreso */
  border-radius: 5px;
  position: relative;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50; /* Cambio de color de la barra de progreso */
  border-radius: 5px;
  transition: width 0.5s ease-in-out; /* Animación de la barra de progreso */
}


/* Style for the section */
.about-me {
  text-align: center;
  padding: 20px;
  background-color: #000000;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 600px;
}

/* Style for the heading */

/* Style for the technology items */
.technology-item {
  margin: 15px 0;
}

.technology-item h3 {
  font-size: 18px;
  color: #ffffff;;
  margin-bottom: 10px;
}

/* Style for the progress bars */
.technology-progress {
  background-color: #ccc;
  height: 20px;
  border-radius: 10px;
  color:#000000;
  position: relative;
  overflow: hidden;
}

/* Style for the filled progress bar */
.progress-bar {
  height: 100%;
  background-color:  #0bee97;;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 1s ease-in-out;
}

/* Add some animation when the progress bar fills */
/* .progress-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(0, 123, 255, 0.5);
  animation: fill 2s forwards;
} */

@keyframes fill {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}






/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
